.landing-page{
    background: white url('./assets/img/grocery-1232944_1920.jpg') scroll center;
    background-size: cover;
    height:  100vh;
    color: rgb(137, 235, 137);
}

.wrapper{
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}
